---
import "../styles/global.css";
import "../styles/t-portal.css";

import Header from "../components/teacher/Header.astro";
import Footer from "../components/teacher/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>

  <body>
    <Header />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
